
body {

    margin: 0;
    padding: 0;

    background: radial-gradient(rgb(36, 138, 240), rgb(1, 1, 8));;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pantallaCentral{
    height: 20em;
    width: 30em;

    background-color: rgb(48, 46, 46);

    border: 0.7em solid black;
    border-radius: 1em 1em 0 0;
    
}



#contenedor{
    height: 20em;
    width: 50em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#ladoIzquierdo {

    height: 20em;
    width: 10em;
    background-color: blue;
    border: 0.7em solid black;
    border-radius: 30% 0 0 30%;


}

#botonIzquierdo {

    height: 3em;
    width: 3em;

    margin-top: 2em;
    margin-left: 4em;
    border-radius: 50%;

    background-color: black;
}

#botonDerecho{

    height: 3em;
    width: 3em;
    margin-top: 9em;
    margin-left: 4em;
    border-radius: 50%;

    background-color: black;
}

#botonApagado{

    height: 1.5em;
    width: 1.5em;
    margin-top: 2.5em;
    margin-left: 2em;
    border-radius: 50%;

    background-color: black;
}


#screen {
    width: 30em;
    height: 20em;

    background-size: cover;
    border: 0.7 solid black;
    border-radius: 1em 1em 0 0;
}

#ladoDerecho{

    height: 20em;
    width: 10em;
  
    background-color: red;
    border: 0.7em solid black;
    border-radius: 0 30% 30% 0;

   //* height: 1.5em;
    width: 1.5em;
    margin-top: 0.3em;
    margin-left: 0.5em;
    border-radius: 50%;
    background-color: black;*//
}